.wrapper {
    display: flex;
    padding: 6px 16px;
    cursor: pointer;
    align-items: center;

    &:hover {
        background-color: rgba(22, 24, 35, 0.03);
    }
}

.avatar {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
}

.info {
    margin-left: 12px;
    flex: 1;
}

.name {
    font-size: 16px;
    font-weight: 500;
    line-height: 10px;
}

.check {
    margin-left: 6px;
    color: rgb(32, 213, 236);
}

.username {
    font-size: 14px;
    color: rgba(22, 24, 35, 0.5);
}
